body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 870px;
  margin: 0 auto;
}


.form-container {
  margin-bottom: 20px;
}

.lists-container {
  display: flex;
  justify-content: space-between;
  /* margin: 0px;
  border: 0px;
  padding: 0px; */
}

.pending-list,
.completed-list {
  flex: 1;
  padding: 0px;
  border-radius: 10px;
  height: 500px;
  width: 45%; 
}


.list ul {
  list-style: none;
  padding: 0;
}


#todo-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-left: 350px;
  margin-right: 350px;
}

#todo-input {
  padding: 8px 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  flex-grow: 1;
  margin-right: 10px;
}

button{
  transition: background-color 0.3s;
}

button[type='submit'] {
  padding: 8px 16px;
  background-color: #008cba;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type='submit']:hover{
  background-color: #80c1d9
}

.lists-container {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.pending-list,
.completed-list {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border: 0px;
  border-radius: 10px;
  margin: 0 10px;
  width: fit-content;
}

.pending-list h2,
.completed-list h2 {
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
  

}

li {
  list-style: none;
  background-color:rgba(181, 185, 163, 0.341);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li > span {
  flex-grow: 1;
  text-align: center;
}

li button {
  margin-left: 5px;
  border: 0px;
  
}

li button svg {
  width: 20px;
  height: 20px;
  fill: rgb(255, 255, 255);
  
}

.edit-btn {
  background-color: #008cba
}
.edit-btn:hover{
  background-color: #80c1d9
}

.delete-btn {
  background-color:#c94c4c
}

.delete-btn:hover{
  background-color: #d37b7b
}

.move-btn{
  background-color: #4caf50;
}

.move-btn:hover{
  background-color: #a0e5a2;
}